<a href="https://colab.research.google.com/github/Javiour2003/Compute_Tasks/blob/main/Jatin_Jadhav_SVM_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Q1 Import and explore the data
Dataset Link: https://drive.google.com/file/d/1tPHOMKD_ef-j8MuynCn2fSpbrL11-J1l/view?usp=sharing

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("/content/pulsar.txt")
df

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve,target_class
0,121.156250,48.372971,0.375485,-0.013165,3.168896,18.399367,7.449874,65.159298,0.0
1,76.968750,36.175557,0.712898,3.388719,2.399666,17.570997,9.414652,102.722975,0.0
2,130.585938,53.229534,0.133408,-0.297242,2.743311,22.362553,8.508364,74.031324,0.0
3,156.398438,48.865942,-0.215989,-0.171294,17.471572,NaN,2.958066,7.197842,0.0
4,84.804688,36.117659,0.825013,3.274125,2.790134,20.618009,8.405008,76.291128,0.0
...,...,...,...,...,...,...,...,...,...
12523,124.312500,53.179053,-0.012418,-0.556021,7.186455,29.308266,4.531382,21.725143,0.0
12524,115.617188,46.784600,0.218177,0.226757,6.140468,NaN,5.732201,34.357283,0.0
12525,116.031250,43.213846,0.663456,0.433088,0.785117,11.628149,17.055215,312.204325,0.0
12526,135.664062,49.933749,-0.089940,-0.226726,3.859532,21.501505,7.398395,62.334018,0.0
12527,120.726562,50.472256,0.346178,0.184797,0.769231,11.792603,17.662222,329.548016,0.0

##Q2 Carry out data pre-processing

In [ ]:
df.describe()

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve,target_class
count,12528.000000,12528.000000,10793.000000,12528.000000,12528.000000,11350.000000,12528.000000,11903.000000,12528.000000
mean,111.041841,46.521437,0.478548,1.778431,12.674758,26.351318,8.333489,105.525779,0.092034
std,25.672828,6.801077,1.064708,6.208450,29.613230,19.610842,4.535783,107.399585,0.289085
min,5.812500,24.772042,-1.738021,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.871094,42.362222,0.024652,-0.188142,1.910535,14.404353,5.803063,35.199899,0.000000
50%,115.183594,46.931022,0.223678,0.203317,2.792642,18.412402,8.451097,83.126301,0.000000
75%,127.109375,50.979103,0.473125,0.932374,5.413253,28.337418,10.727927,139.997850,0.000000
max,189.734375,91.808628,8.069522,68.101622,222.421405,110.642211,34.539844,1191.000837,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12528 entries, 0 to 12527
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0    Mean of the integrated profile                12528 non-null  float64
 1    Standard deviation of the integrated profile  12528 non-null  float64
 2    Excess kurtosis of the integrated profile     10793 non-null  float64
 3    Skewness of the integrated profile            12528 non-null  float64
 4    Mean of the DM-SNR curve                      12528 non-null  float64
 5    Standard deviation of the DM-SNR curve        11350 non-null  float64
 6    Excess kurtosis of the DM-SNR curve           12528 non-null  float64
 7    Skewness of the DM-SNR curve                  11903 non-null  float64
 8   target_class                                   12528 non-null  float64
dtypes: float64(9)
memory usage: 881.0 KB

In [ ]:
df.isnull().sum()

 Mean of the integrated profile                     0
 Standard deviation of the integrated profile       0
 Excess kurtosis of the integrated profile       1735
 Skewness of the integrated profile                 0
 Mean of the DM-SNR curve                           0
 Standard deviation of the DM-SNR curve          1178
 Excess kurtosis of the DM-SNR curve                0
 Skewness of the DM-SNR curve                     625
target_class                                        0
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.isnull().sum()

 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
target_class                                     0
dtype: int64

##Q3 Scale the data using Standard Scaler

In [ ]:
x=df.iloc[:,0:8]
y=df.iloc[:,8]
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test) 
x_train

array([[-0.65143308, -0.38975117,  0.20589906, ..., -0.53770497,
         0.81072563,  0.49442337],
       [ 0.33623121,  0.58307703, -0.3670363 , ..., -0.54060639,
        -0.01659896, -0.18916092],
       [-0.16228396, -0.12584333, -0.20866933, ..., -0.6063539 ,
         0.13625966,  0.02204338],
       ...,
       [ 0.39001043,  0.720952  , -0.61290059, ..., -0.09156298,
        -0.32032071, -0.52712357],
       [ 0.33895039,  1.59793714, -0.19028828, ..., -0.73658568,
         1.36286107,  1.24341707],
       [ 0.48880707,  0.22684483, -0.4274808 , ..., -0.27135691,
         0.02529342, -0.26169215]])

####Q3a According to you, why is scaling important in SVM? What are the different methods for scaling the data available in sklearn.preprocessing?

In [ ]:
#Since SVM tries to maximize the distance between the hyper plane and support vectors, unscaled 
#data containing a feature with large values might dominate other features while calculating the distance.

##Q5 Implement SVM

Different types of kernels in SVM:
https://www.kaggle.com/discussions/questions-and-answers/326336

###Q5a Linear SVM

Apply Linear SVM for costs (C) = [0.1, 1, 10, 100, 1000], predict for the test set and check f1 score for each of the costs. State the best cost

In [ ]:
params = { 'C' : [0.1, 1, 10, 100, 1000]}
from sklearn.svm import SVC # "Support vector classifier" 
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV 
model = SVC(kernel='linear', random_state=0)
model.fit(x_train,y_train)  
grid = GridSearchCV(model, params, refit = True, verbose = 3)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV 1/5] END .............................C=0.1;, score=0.978 total time=   0.1s
[CV 2/5] END .............................C=0.1;, score=0.983 total time=   0.1s
[CV 3/5] END .............................C=0.1;, score=0.978 total time=   0.1s
[CV 4/5] END .............................C=0.1;, score=0.974 total time=   0.1s
[CV 5/5] END .............................C=0.1;, score=0.974 total time=   0.1s
[CV 1/5] END ...............................C=1;, score=0.979 total time=   0.1s
[CV 2/5] END ...............................C=1;, score=0.984 total time=   0.1s
[CV 3/5] END ...............................C=1;, score=0.978 total time=   0.1s
[CV 4/5] END ...............................C=1;, score=0.977 total time=   0.1s
[CV 5/5] END ...............................C=1;, score=0.976 total time=   0.1s
[CV 1/5] END ..............................C=10;, score=0.979 total time=   0.2s
[CV 2/5] END ..............................C=10;, score=0.983 total time=   0.2s
[CV 3/5] END ..............................C=10;, score=0.978 total time=   0.2s
[CV 4/5] END ..............................C=10;, score=0.977 total time=   0.2s
[CV 5/5] END ..............................C=10;, score=0.976 total time=   0.2s
[CV 1/5] END .............................C=100;, score=0.980 total time=   1.0s
[CV 2/5] END .............................C=100;, score=0.983 total time=   1.0s
[CV 3/5] END .............................C=100;, score=0.978 total time=   0.9s
[CV 4/5] END .............................C=100;, score=0.977 total time=   0.8s
[CV 5/5] END .............................C=100;, score=0.976 total time=   0.9s
[CV 1/5] END ............................C=1000;, score=0.980 total time=   9.0s
[CV 2/5] END ............................C=1000;, score=0.983 total time=   7.4s
[CV 3/5] END ............................C=1000;, score=0.978 total time=   6.4s
[CV 4/5] END ............................C=1000;, score=0.977 total time=   5.2s
[CV 5/5] END ............................C=1000;, score=0.976 total time=   6.4s

GridSearchCV(estimator=SVC(kernel='linear', random_state=0),
             param_grid={'C': [0.1, 1, 10, 100, 1000]}, verbose=3)

In [ ]:
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.070484,0.006496,0.012519,0.001151,0.1,{'C': 0.1},0.977714,0.982746,0.978433,0.974119,0.974101,0.977423,0.003206,5
1,0.087392,0.006466,0.011655,0.001432,1,{'C': 1},0.979152,0.984184,0.977714,0.976995,0.975540,0.978717,0.002971,4
2,0.209216,0.019498,0.014033,0.006836,10,{'C': 10},0.979152,0.983465,0.978433,0.976995,0.975540,0.978717,0.002679,3
3,0.920342,0.098370,0.012644,0.003065,100,{'C': 100},0.979871,0.983465,0.978433,0.976995,0.975540,0.978861,0.002717,1
4,6.872446,1.264103,0.010459,0.000374,1000,{'C': 1000},0.979871,0.983465,0.978433,0.976995,0.975540,0.978861,0.002717,1

In [ ]:
print(grid.best_params_)

{'C': 100}

C = 100 is the best cost

###Q5b Polynomial Kernel

Apply Linear SVM for degrees = [1,2,3,4,5], predict for the test set and check f1 score for each of the degrees. State the best degree.

In [ ]:
model = SVC(kernel = 'poly', random_state = 0)
params = {'degree': [1,2,3,4,5]} 
grid = GridSearchCV(model, params, refit = True, verbose = 3)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV 1/5] END ..........................degree=1;, score=0.978 total time=   0.1s
[CV 2/5] END ..........................degree=1;, score=0.983 total time=   0.1s
[CV 3/5] END ..........................degree=1;, score=0.978 total time=   0.1s
[CV 4/5] END ..........................degree=1;, score=0.975 total time=   0.1s
[CV 5/5] END ..........................degree=1;, score=0.975 total time=   0.1s
[CV 1/5] END ..........................degree=2;, score=0.975 total time=   0.1s
[CV 2/5] END ..........................degree=2;, score=0.977 total time=   0.1s
[CV 3/5] END ..........................degree=2;, score=0.974 total time=   0.1s
[CV 4/5] END ..........................degree=2;, score=0.971 total time=   0.1s
[CV 5/5] END ..........................degree=2;, score=0.972 total time=   0.1s
[CV 1/5] END ..........................degree=3;, score=0.977 total time=   0.2s
[CV 2/5] END ..........................degree=3;, score=0.980 total time=   0.2s
[CV 3/5] END ..........................degree=3;, score=0.976 total time=   0.2s
[CV 4/5] END ..........................degree=3;, score=0.974 total time=   0.2s
[CV 5/5] END ..........................degree=3;, score=0.975 total time=   0.2s
[CV 1/5] END ..........................degree=4;, score=0.972 total time=   0.3s
[CV 2/5] END ..........................degree=4;, score=0.976 total time=   0.3s
[CV 3/5] END ..........................degree=4;, score=0.973 total time=   0.2s
[CV 4/5] END ..........................degree=4;, score=0.973 total time=   0.2s
[CV 5/5] END ..........................degree=4;, score=0.973 total time=   0.3s
[CV 1/5] END ..........................degree=5;, score=0.972 total time=   0.5s
[CV 2/5] END ..........................degree=5;, score=0.976 total time=   0.5s
[CV 3/5] END ..........................degree=5;, score=0.971 total time=   0.5s
[CV 4/5] END ..........................degree=5;, score=0.973 total time=   0.3s
[CV 5/5] END ..........................degree=5;, score=0.971 total time=   0.4s

GridSearchCV(estimator=SVC(kernel='poly', random_state=0),
             param_grid={'degree': [1, 2, 3, 4, 5]}, verbose=3)

In [ ]:
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_degree,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.079039,0.005562,0.014157,0.002735,1,{'degree': 1},0.977714,0.983465,0.978433,0.974838,0.974820,0.977854,0.003167,1
1,0.110265,0.007904,0.015407,0.002712,2,{'degree': 2},0.974838,0.976995,0.974119,0.971244,0.971942,0.973828,0.002067,3
2,0.173547,0.018626,0.016561,0.005146,3,{'degree': 3},0.976995,0.979871,0.976276,0.974119,0.974820,0.976416,0.002006,2
3,0.246907,0.030774,0.014615,0.001207,4,{'degree': 4},0.971963,0.976276,0.973400,0.972682,0.972662,0.973397,0.001510,4
4,0.415048,0.080703,0.013022,0.000337,5,{'degree': 5},0.971963,0.976276,0.970525,0.973400,0.970504,0.972534,0.002156,5

In [ ]:
print(grid.best_params_)

{'degree': 1}

###Q5c Sigmoid Kernel

Apply Linear SVM for costs (C) = [0.1, 1, 10, 100, 1000], predict for the test set and check f1 score for each of the costs. State the best cost

In [ ]:
model = SVC(kernel = 'sigmoid', random_state = 0)
params = {'C': [0.1, 1, 10, 100, 1000]} 
grid = GridSearchCV(model, params, refit = True, verbose = 3)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV 1/5] END .............................C=0.1;, score=0.879 total time=   0.4s
[CV 2/5] END .............................C=0.1;, score=0.883 total time=   0.4s
[CV 3/5] END .............................C=0.1;, score=0.868 total time=   0.4s
[CV 4/5] END .............................C=0.1;, score=0.873 total time=   0.4s
[CV 5/5] END .............................C=0.1;, score=0.869 total time=   0.4s
[CV 1/5] END ...............................C=1;, score=0.874 total time=   0.4s
[CV 2/5] END ...............................C=1;, score=0.882 total time=   0.4s
[CV 3/5] END ...............................C=1;, score=0.865 total time=   0.4s
[CV 4/5] END ...............................C=1;, score=0.866 total time=   0.4s
[CV 5/5] END ...............................C=1;, score=0.863 total time=   0.4s
[CV 1/5] END ..............................C=10;, score=0.874 total time=   0.4s
[CV 2/5] END ..............................C=10;, score=0.881 total time=   0.4s
[CV 3/5] END ..............................C=10;, score=0.863 total time=   0.4s
[CV 4/5] END ..............................C=10;, score=0.866 total time=   0.4s
[CV 5/5] END ..............................C=10;, score=0.861 total time=   0.4s
[CV 1/5] END .............................C=100;, score=0.873 total time=   0.4s
[CV 2/5] END .............................C=100;, score=0.881 total time=   0.4s
[CV 3/5] END .............................C=100;, score=0.863 total time=   0.4s
[CV 4/5] END .............................C=100;, score=0.866 total time=   0.4s
[CV 5/5] END .............................C=100;, score=0.861 total time=   0.4s
[CV 1/5] END ............................C=1000;, score=0.873 total time=   0.4s
[CV 2/5] END ............................C=1000;, score=0.881 total time=   0.4s
[CV 3/5] END ............................C=1000;, score=0.863 total time=   0.4s
[CV 4/5] END ............................C=1000;, score=0.866 total time=   0.4s
[CV 5/5] END ............................C=1000;, score=0.861 total time=   0.4s

GridSearchCV(estimator=SVC(kernel='sigmoid', random_state=0),
             param_grid={'C': [0.1, 1, 10, 100, 1000]}, verbose=3)

In [ ]:
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.357823,0.008006,0.073389,0.002576,0.1,{'C': 0.1},0.879224,0.882818,0.867721,0.872753,0.869065,0.874316,0.005829,1
1,0.341859,0.012634,0.071334,0.002204,1,{'C': 1},0.874191,0.882099,0.864845,0.865564,0.862590,0.869858,0.007280,2
2,0.340503,0.016519,0.069722,0.002372,10,{'C': 10},0.874191,0.881380,0.863408,0.865564,0.861151,0.869139,0.007547,3
3,0.337123,0.009018,0.069136,0.002423,100,{'C': 100},0.873472,0.881380,0.863408,0.865564,0.861151,0.868995,0.007456,4
4,0.337504,0.015940,0.068736,0.002409,1000,{'C': 1000},0.873472,0.881380,0.863408,0.865564,0.861151,0.868995,0.007456,4

In [ ]:
print(grid.best_params_)

{'C': 0.1}

###Q5d RBF Kernel

Apply Linear SVM for costs (C) = [0.1, 1, 10, 100, 1000], predict for the test set and check f1 score for each of the costs. State the best cost

In [ ]:
model = SVC(kernel = 'sigmoid', random_state = 0)
params = {'C': [0.1, 1, 10, 100, 1000]} 
grid = GridSearchCV(model, params, refit = True, verbose = 3)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV 1/5] END .............................C=0.1;, score=0.879 total time=   0.4s
[CV 2/5] END .............................C=0.1;, score=0.883 total time=   0.4s
[CV 3/5] END .............................C=0.1;, score=0.868 total time=   0.4s
[CV 4/5] END .............................C=0.1;, score=0.873 total time=   0.4s
[CV 5/5] END .............................C=0.1;, score=0.869 total time=   0.4s
[CV 1/5] END ...............................C=1;, score=0.874 total time=   0.4s
[CV 2/5] END ...............................C=1;, score=0.882 total time=   0.4s
[CV 3/5] END ...............................C=1;, score=0.865 total time=   0.4s
[CV 4/5] END ...............................C=1;, score=0.866 total time=   0.4s
[CV 5/5] END ...............................C=1;, score=0.863 total time=   0.4s
[CV 1/5] END ..............................C=10;, score=0.874 total time=   0.4s
[CV 2/5] END ..............................C=10;, score=0.881 total time=   0.5s
[CV 3/5] END ..............................C=10;, score=0.863 total time=   0.6s
[CV 4/5] END ..............................C=10;, score=0.866 total time=   0.4s
[CV 5/5] END ..............................C=10;, score=0.861 total time=   0.4s
[CV 1/5] END .............................C=100;, score=0.873 total time=   0.4s
[CV 2/5] END .............................C=100;, score=0.881 total time=   0.4s
[CV 3/5] END .............................C=100;, score=0.863 total time=   0.4s
[CV 4/5] END .............................C=100;, score=0.866 total time=   0.4s
[CV 5/5] END .............................C=100;, score=0.861 total time=   0.4s
[CV 1/5] END ............................C=1000;, score=0.873 total time=   0.9s
[CV 2/5] END ............................C=1000;, score=0.881 total time=   0.8s
[CV 3/5] END ............................C=1000;, score=0.863 total time=   0.7s
[CV 4/5] END ............................C=1000;, score=0.866 total time=   0.8s
[CV 5/5] END ............................C=1000;, score=0.861 total time=   1.5s

GridSearchCV(estimator=SVC(kernel='sigmoid', random_state=0),
             param_grid={'C': [0.1, 1, 10, 100, 1000]}, verbose=3)

In [ ]:
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.357194,0.010191,0.073989,0.003475,0.1,{'C': 0.1},0.879224,0.882818,0.867721,0.872753,0.869065,0.874316,0.005829,1
1,0.339859,0.012965,0.070518,0.002174,1,{'C': 1},0.874191,0.882099,0.864845,0.865564,0.862590,0.869858,0.007280,2
2,0.389019,0.073097,0.079769,0.022730,10,{'C': 10},0.874191,0.881380,0.863408,0.865564,0.861151,0.869139,0.007547,3
3,0.349274,0.017803,0.069772,0.001619,100,{'C': 100},0.873472,0.881380,0.863408,0.865564,0.861151,0.868995,0.007456,4
4,0.793628,0.243239,0.149827,0.051511,1000,{'C': 1000},0.873472,0.881380,0.863408,0.865564,0.861151,0.868995,0.007456,4

In [ ]:
print(grid.best_params_)

{'C': 0.1}